.vs/geekbrains_cs_course2/DesignTimeBuild/.dtbcache.v2
.vs/geekbrains_cs_course2/v16/.suo
**/bin/**
**/obj/**
geekbrains_cs_course2.sln.DotSettings.user
HomeWork.Lesson1.Task1/HomeWork.Lesson1.Task1.csproj.DotSettings.user
HomeWork.Lesson1.Task1/Window.resx
packages/**
